#!/bin/sh

# Dumps website and all associated configuration into {{ wp_backup_directory }}/sitedump.tar.gz.

echo "**	Starting site export."

echo "**	Checking if root."
if [ $EUID -ne 0 ]
	then
		echo "**	Script must be run as root. Cannot continue. Creating failure trace."
		rm -rf {{ wp_backup_directory }}/*.fail
		touch {{ wp_backup_directory }}/export.fail
		echo "**	Exiting."
		exit 1
fi

cd {{ wp_backup_directory }}/

if [ -d {{ wp_backup_directory }}/sitedump/ ]
	then
		echo "**	Deleting previous sitedump directories."
		rm -rf {{ wp_backup_directory }}/sitedump/
fi

if [ -a {{ wp_backup_directory }}/sitedump.tar.gz ]
	then
		echo "**	Deleting previous sitedump tar."
		rm -rf {{ wp_backup_directory }}/sitedump.tar.gz
fi

if [ -a {{ wp_backup_directory }}/export.fail ]
	then
		echo "**	Deleting a failure trace from a previous run."
		rm -rf {{ wp_backup_directory }}/export.fail
fi

echo "**	Creating sitedump directories."
mkdir {{ wp_backup_directory }}/sitedump/
mkdir {{ wp_backup_directory }}/sitedump/certs/
mkdir {{ wp_backup_directory }}/sitedump/apacheconfig/
mkdir {{ wp_backup_directory }}/sitedump/serverconfig/
mkdir {{ wp_backup_directory }}/sitedump/site/
mkdir {{ wp_backup_directory }}/sitedump/db/
mkdir {{ wp_backup_directory }}/sitedump/exportscript/

echo "**	Getting list of installed applications."
yum list installed > {{ wp_backup_directory }}/sitedump/serverconfig/installed-packages.txt

echo "**	Getting server specifications."
cat /proc/cpuinfo > {{ wp_backup_directory }}/sitedump/serverconfig/cpu-info.txt
cat /proc/meminfo > {{ wp_backup_directory }}/sitedump/serverconfig/mem-info.txt
ps aux > {{ wp_backup_directory }}/sitedump/serverconfig/running-processes.txt

echo "**	Getting LAMP versions."
cat /proc/version > {{ wp_backup_directory }}/sitedump/serverconfig/linux-version.txt
httpd -version > {{ wp_backup_directory }}/sitedump/serverconfig/apache-version.txt
mysql --version > {{ wp_backup_directory }}/sitedump/serverconfig/mysql-version.txt
php --version > {{ wp_backup_directory }}/sitedump/serverconfig/php-version.txt

echo "**	Copying SSL certs."
cp /etc/letsencrypt/ -R {{ wp_backup_directory }}/sitedump/certs/

echo "**	Copying Apache configs."
cp -R /etc/httpd/conf/ {{ wp_backup_directory }}/sitedump/apacheconfig/
cp -R /etc/httpd/conf.d/ {{ wp_backup_directory }}/sitedump/apacheconfig/

echo "**	Copying Wordpress site."
cp -R {{ wp_install_directory }}/. {{ wp_backup_directory }}/sitedump/site/

echo "**	Exporting DB."
mysqldump -h {{ wp_database_server_endpoint }} -P {{ wp_database_server_port }} -u {{ wp_database_user }} -p{{ wp_database_password }} {{ wp_database_name }}  > {{ wp_backup_directory }}/sitedump/db/blog_db.sql

echo "**	Grabbing export script."
cp /etc/cron.daily/exportsite {{ wp_backup_directory }}/sitedump/exportscript/

echo "**	Archiving site."
cd {{ wp_backup_directory }}/sitedump/ && tar -czf ../sitedump.tar.gz *

echo "**	Cleaning up."
rm -rf {{ wp_backup_directory }}/sitedump/

echo "**	Changing ownership."
chown nobody:nobody {{ wp_backup_directory }}/sitedump.tar.gz

echo "**	Done."
